.type {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typeWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .typeLeft,
  .typeRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color:  #508b98;
    margin-bottom: 10px;
  }
  
  .loginDesc {
    font-size: 24px;
  }
  
  .typeBox{
      height: 400px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .artistButton{
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: none;
      margin-top: 20%;
      background-color: #508b98;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  

  
  .clientButton{
      width: 100%;
      align-self: center;
      margin-bottom: 20%;
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #508b98;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }