.artistlogin {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .artistloginWrapper {
    width: 70%;
    height: 70;
    display: flex;
  }
  
  .artistloginLeft,
  .artistloginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color:  #508b98;
    margin-bottom: 10px;
  }
  
  .loginDesc {
    font-size: 24px;
  }
  
  .artistloginBox{
      height: 400px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .loginInput{
      height: 50px;
      border-radius: 10px;
      border: 1px solid gray;
      font-size: 18px;
      padding-left: 20px;
     
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .artistloginButton{
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #508b98;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  
  
  
  .artistloginRegisterButton{
      width: 100%;
      align-self: center;
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #64b454;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100px;
  }
  
 
 
  